$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

$regular-weight: 400;
$light-weight: 300;
$black-weight: 900;

$roboto: "Roboto", sans-serif;
$playfair-display: "Playfair Display", serif;
